<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Navbar code -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard</a>
      </li>

      <!-- Portfolio related stuff in dropdown navbar-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'list-portfolio' %}">Portfolio</a>
          <a class="dropdown-item" href="{% url 'add-portfolio' %}">Add portfolio</a>
          <a class="dropdown-item" href="{% url 'portfolio-text' %}">Download portfolio as txt</a>
        </div>
      </li>

      <!-- Login and logout logic + view-->
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register-user' %}">Register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>

    <!-- Search bar for company -->
    <form class="d-flex" method="POST" action="{% url 'search-company' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search company" aria-label="Search" name="searched">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
