{% extends 'base/main.html' %}

{% block content %}
    <center>
    <h1>Portfolio</h1>
<table class="table table-striped table-hover table-bordered">
        {% for portfolio in show_portfolio %}
    <tr>
        <td>
            <a href="{% url 'show-portfolio' portfolio.id %}">{{ portfolio }}</a> <br>
        </td>
        <td align="center">
            <a href="{% url 'update-portfolio' portfolio.id %}" class="btn btn-outline-secondary btn-sm" >Update</a>
        </td>
    </tr>
        {% endfor %}
</table>
    </center>

{% endblock content %}

