{% extends 'base/main.html' %}

{% block content %}
    <center>
    <h1>Portfolio</h1>
<table class="table table-striped table-hover table-bordered">
        {% for portfolio in portfolios %}
    <tr>
        <td>
            <a href="{% url 'show-portfolio' portfolio.id %}">{{ portfolio }}</a> <br>
        </td>

        <!-- Login verify -->
        {% if user.is_authenticated %}
        <td align="center">
            <a href="{% url 'update-portfolio' portfolio.id %}" class="btn btn-outline-secondary btn-sm" >Update</a>

            <a href="{% url 'delete-portfolio' portfolio.id %}" class="btn btn-outline-danger btn-sm" >Delete</a>
        </td>

        {% endif %}

    </tr>
        {% endfor %}
</table>
    </center>
<!--
{{ portfolios }}<br>
Has Previous: {{ portfolios.has_previous }}<br>
Has Next: {{ portfolios.has_next }}<br>
Current Page: {{ portfolios.number }}<br>
Number of Pages: {{ portfolios.paginator.num_pages }}<br><br>
-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

{% if portfolios.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ portfolios.previous_page_number }}">Previous</a></li>

{% endif %}

<li class="page-item disabled"><a href="#" class="page-link">Page {{ portfolios.number }} of {{ portfolios.paginator.num_pages }}</a></li>

{% if portfolios.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ portfolios.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ portfolios.paginator.num_pages}}">Last &raquo</a></li>
{% endif %}
</ul>
</nav>

{% endblock content %}

